@import '../../../styles.scss';

.row{
 width: 75%;
 
 margin: 5rem auto;
 
 padding: 5rem 3rem;

 
 mat-form-field{
  width: 100%;
  background-color: rgba($color: #000000, $alpha: .03);
  padding: 1rem;
  border-radius: 12px;
  input{
   font-size: 1.5rem;
  }

 }

 mat-card{
  margin: 2rem 0;
  padding: 1rem !important;
 }

 mat-card-header{
   display: flex;
   justify-content: space-around;
   // background-color: red;
  .card-container{
   // background-color: aquamarine;
   flex: 0 0 50%; 
  }
   .icon{
    flex: 1;
    // background-color: yellow;
    text-align: right;
    cursor: pointer;
   }
 }
 mat-card-title{
  font-size: 1.5rem !important;
 }
}

.form{
  &__file{
    visibility: hidden;
  }
  &__submit{
    display: block;
   margin: 1rem 0;
  }

  &__img-preview{
    margin: 2rem 0;
    background-color:#f7f7f7;
    border-radius: 12px;
    // height: 10rem;
    text-align: center;
    img{
      margin: 1rem 0;
      width: 75%;
      border-radius: 12px;
    }
  }
}